<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{#if msg}}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg}}</strong>
    </div>
{{/if}}
{{#if msg1}}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg1}}</strong>
    </div>
{{/if}}
{{#if msg2}}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg2}}</strong>
    </div>
{{/if}}
<body>
    <div class="container">
        <h2>Product data</h2>  
        <table class="table table-responsive">
        <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th></th>
            <th></th>
            </tr>
        {{#each data}}
        <tr>
        <td><img src="/{{this.image}}" width="50px" height="50px"></td>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td><a href="dummyEdit?id={{this._id}}"><i class="fas fa-edit"></i></a></td>
        <td><a href="dummyDelete?id={{this._id}}" onclick="return confirm('Do you really want ot delete?')">
        <i class="fas fa-trash-alt"></i></a></td>
        </tr>
        {{/each}}
        </table>
    </div>
</body>
</html>
