<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:cadetblue ;
        }
    </style>
    {{!-- <script src="../utility/client.js"></script> --}}
</head>
{{#if msg}}
    <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{msg}}</strong>
    </div>
{{/if}}
{{#if msg1}}
    <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{msg1}}</strong>
    </div>
{{/if}}
{{#if msg2}}
    <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{msg2}}</strong>
    </div>
{{/if}}
<body>
    <div class="col-md-7 mx-auto">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-white">Your cart</span>
            <span class="badge badge-danger badge-pill">{{cart.length}}</span>
        </h4> 
        <div class="d-flex justify-content-between align-items-center mb-3 bg-white">    
            <table class="table table-responsive">
                <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Total</th>
                </tr>
                {{#each cart}}
                <tr>
                    <td><img src="/{{this.product.image}}" width="50" height="50"></td>
                    <td>{{this.product.name}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.fprice}}</td>
                    <td><a href="/cart/deleteCartItem?id={{this._id}}" onclick="return confirm('Do you really want ot delete?')">
                        <i class="fas fa-trash-alt"></i></a></td>
                </tr>
                {{/each}}
                <tr><td><h2>GT:</h2></td><td><h2>{{gTotal}}</h2></td></tr>
            </table>
        </div>
    </div>
    {{#if cart}}
    <center>
        <a href="/order/checkout"><button class="btn btn-success">Buy now</button></a>
    </center>
    {{/if}}
</body>
</html>
